In [2]:
import sqlite3
import pandas as pd

In [3]:
from make_db_with_added_dates import make_example_tables

In [4]:
make_example_tables()

Weather Data
       day  temp
2022-07-13  80.0
2022-07-17  90.0
2022-07-20  85.0
2022-07-30  80.0
2022-08-01  77.0
2022-08-04  70.0
2022-08-10  68.0
2022-08-12  74.0
2022-08-17  65.0
2022-08-22  71.0
2000-01-01   NaN
2022-08-25   NaN

Game Data: W is a Win, L is a Loss
       day outcome
2022-07-11       W
2022-07-16       W
2022-07-20       L
2022-07-27       L
2022-07-31       L
2022-08-05       W
2022-08-09       L
2022-08-13       L
2022-08-14       W
2022-08-20       W
2022-08-22       L

In [5]:
conn = sqlite3.connect("nearest_date.sqlite")
cursor = conn.cursor()

In [6]:
query = """
with sorted_weather as (
SELECT
*
FROM
WEATHER
ORDER BY day
)
, weather_day_bounds as (
SELECT 
    day as lower_bound_day,
    lead(day) over (order by day) as upper_bound_day
FROM 
    sorted_weather
)
, upper_lower_diff as (
SELECT
    game.day,
    game.outcome,
    weather.lower_bound_day,
    weather.upper_bound_day,
    abs(julianday(game.day)-julianday(weather.lower_bound_day)) as lower_bound_diff,
    abs(julianday(game.day)-julianday(weather.upper_bound_day)) as upper_bound_diff
FROM
    game
LEFT JOIN
    weather_day_bounds weather
ON
    game.day > weather.lower_bound_day and game.day <= weather.upper_bound_day
    )
, get_winning_day as (
    SELECT
        day, outcome,
        case when lower_bound_diff=upper_bound_diff then lower_bound_day
        when lower_bound_diff<upper_bound_diff then lower_bound_day
        when upper_bound_diff<lower_bound_diff then upper_bound_day
        else lower_bound_day
        end as winning_weather_day
    FROM
        upper_lower_diff
)
SELECT
    gwd.day, gwd.outcome, gwd.winning_weather_day, w.temp
FROM
    get_winning_day gwd
LEFT JOIN
    WEATHER w
ON
    gwd.winning_weather_day = w.day
"""
pd.read_sql(sql=query, con=conn)

           day outcome winning_weather_day  temp
0   2022-07-11       W          2022-07-13    80
1   2022-07-16       W          2022-07-17    90
2   2022-07-20       L          2022-07-20    85
3   2022-07-27       L          2022-07-30    80
4   2022-07-31       L          2022-07-30    80
5   2022-08-05       W          2022-08-04    70
6   2022-08-09       L          2022-08-10    68
7   2022-08-13       L          2022-08-12    74
8   2022-08-14       W          2022-08-12    74
9   2022-08-20       W          2022-08-22    71
10  2022-08-22       L          2022-08-22    71